pkgbase = omarchy-teamviewer-launcher
	pkgdesc = Makes incoming TeamViewer connections work on Omarchy's uwsm-managed Hyprland desktop
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/popovoleksandr/omarchy-teamviewer-launcher
	install = omarchy-teamviewer-launcher.install
	arch = any
	license = MIT
	depends = bash
	depends = dbus
	depends = jq
	depends = teamviewer
	source = omarchy-teamviewer-launcher-1.0.2.tar.gz::https://github.com/popovoleksandr/omarchy-teamviewer-launcher/archive/refs/tags/v1.0.2.tar.gz
	sha256sums = e2502b0699711d00c459cb37ef8400bc2bc1ea5b0a6e4a2169e4f0a89e0b9cdc

pkgname = omarchy-teamviewer-launcher
